/* Bar Chart */

div.recharts-wrapper {
    margin: auto;
}

div.chart {
    margin: auto;
    border-style: inset;
    height: 500px;
    width: 800px;
    background-color: rgb(24, 24, 24);
}