/* Document-wide */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #051525;
  color: rgb(47, 227, 240);
  margin: 0px;
}

a {
  color: hotpink;
}

/* Everything below the navbar */
div.main {
  margin: 10px;
}

/* The header of each page */
h2.header {
  color: rgb(255, 168, 168);
}