/* NavBar */

div.navbar {
    display: flex;
    background: rgb(2, 22, 26);
    justify-content: flex-start;
    align-items: stretch;
}

.navbar-logo {
    font-size: 1.65em;
    width: 12vw;
    order: -1;
}

.navbar-flex-filler-loggedin {
    width: 40vw;
    order: 1;
    border-style: none inset inset none;
    border-color: rgb(57, 69, 182);
}

.navbar-flex-filler-loggedout {
    width: 70vw;
    order: 1;
    border-style: none inset inset none;
    border-color: rgb(57, 69, 182);
}

.navbar-logout, .navbar-login {
    order: 2;
    justify-self: flex-end;
}

.navbar-list-item {
    width: 12vw;
}

.navbar a {
    height: 40px;
    line-height: 40px;
    color: rgb(179, 212, 255);
    border-color: rgb(57, 69, 182);
    padding: 12px;
    margin: 0px;
    text-decoration: none;
    border-style: none inset inset none;
    text-align: center;
    vertical-align: middle;
}

.navbar-list-item.navbar-chosen {
    border-bottom: 3px inset rgb(162, 0, 236);
}

.navbar-list-item:hover {
    background: rgb(28, 51, 94);
}