/* Sleep form page */

table.dates-input-table {
    border: 1px solid rgb(128, 128, 128);
    border-collapse: collapse;
}

/* Start day and end day input table */

td.dayForm {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.form-radio {
    grid-column-start: 1;
}

.form-date {
    grid-column-start: 2;
    grid-row-start: 2;
}

table.dates-input-table th, table.dates-input-table td {
    border: 1px solid rgb(128, 128, 128);
    padding: 10px;
}

/* no changes atm */
input[type=date] {
    width: 100%;
}

/* Rating input */

table.rating-input-table th, table.rating-input-table td {
    border: 1px solid rgb(128, 128, 128);
    text-align: center;
    padding: 2px;
}