/* Sleep form page */

td.dayForm {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.form-radio {
    grid-column-start: 1;
}

.form-date {
    grid-column-start: 2;
    grid-row-start: 2;
}

table, th, td {
    border: 1px solid rgb(128, 128, 128);
}